.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav a {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(70, 70, 70, 0.248);
  border-radius: 3px;
  width: 100%;
  padding: 1rem;
  background-color: rgb(15, 15, 15);
  backdrop-filter: blur(4px);
}